<!-- <nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Import</button>
    </form>
</nav> -->

<div class="container">
    <div class="card">
        <div class="card-body bg-light">
            <div class="text-center">
                <a routerLink="/import">
                    <button class="btn btn-primary mb-4">
                        Import Data File
                    </button></a> <br>
                <a routerLink="/collection"><button class="btn btn-primary pull-right mb-4"> Automobile
                        Collection</button></a>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-sm-4"
    style="background-color:black; padding-bottom: 60px; padding-right: 600px; padding-top: 20px; width:800px; margin:0 auto;">
    <div>
        <div class="button-div">
            <a routerLink="/import">
                <button style="width: 200px; padding-bottom: 10px;" class="btn btn-success">
                    Import Data File
                </button></a>
        </div>

        <div class="button-div">
            <a routerLink="/collection"><button style="width: 200px; padding-bottom: 10px;"
                    class="btn btn-success pull-right"> Automobile Collection</button></a>
        </div>

    </div>
</div> -->