<div class="col-sm-4"
    style="background-color:black; padding-bottom: 60px; padding-right: 600px; padding-top: 20px; width:800px; margin:0 auto;">
    <div>
        <div class="button-div">
            <a routerLink="/import"><button style="width: 200px; padding-bottom: 10px;"
                    class="btn btn-success pull-right">
                    Import Data
                    File</button></a>
        </div>

        <div class="button-div">
            <a routerLink="/collection"><button style="width: 200px; padding-bottom: 10px;"
                    class="btn btn-success pull-right"> Automobile Collection</button></a>
        </div>

    </div>
</div>