<div id="container">
    <div class="d-flex vh-75 justify-content-center">
        <div class="row align-self-center">
            <div class="card mr-5" style="width: 400px;">
                <img class="card-img-top" src="/assets/import.png">
                <div class="card-body text-center">
                    <h4 class="card-title">Import CSV</h4>
                    <p class="card-text">Import external csv file to system</p>
                    <a class="btn btn-primary" href="#" routerLink="/import">Import</a>
                </div>

            </div>

            <div class="card" style="width: 400px;">
                <img class="card-img-top" src="/assets/view.png">
                <div class="card-body text-center">
                    <h4 class="card-title">View</h4>
                    <p class="card-text">View Records</p>
                    <a class="btn btn-primary" routerLink="/collection">View</a>
                </div>

            </div>
        </div>
    </div>
</div>