<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">

        <div class="row">
            <div style="color: rgb(19, 99, 219); padding-left: 24px;">search</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="searchText"> <br>
            </div>
            <hr>
            <div style="padding-bottom: 10px; padding-right: 55px;">
                <button class="btn btn-primary" routerLink="/export">Export Data </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p></p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">

                <thead class="bg-light">
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol
                        *ngFor="let el of elements | paginate: { id: 'server', itemsPerPage: 100, currentPage: p, totalItems: 1000 }">
                        <th scope="row">{{el.id}}</th>
                        <td>{{el.firstName}}</td>
                        <td>{{el.lastName}}</td>
                        <td>{{el.email}}</td>
                        <td>{{el.carMake}}</td>
                        <td>{{el.carModel}}</td>
                        <td>{{el.vinNumber}}</td>
                        <td>{{el.manufacturedDate}}</td>
                        <td>{{el.ageOfVehicle}}</td>
                        <td>
                            <button size="sm" type="button" class="btn btn-primary" mdbWavesEffect
                                (click)="updateAutomobile(el.id)">Edit</button>
                        </td>
                        <td>
                            <button size="sm" type="button" class="btn btn-primary" mdbWavesEffect
                                (click)="deleteAutomobile(el.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="has-text-centered">
                <div class="spinner"></div>
                <pagination-controls (pageChange)="getAutomobiles($event)" id="server"></pagination-controls>
            </div>
        </div>
    </div>
</div>