<div class="col-md-3">
    <form class="border border-light p-5">
        <div class="h4 mb-6">Enter the Criteria</div>
        <label>Type</label>
        <select class="browser-default custom-select mb-4" name="field" [(ngModel)]="fieldNameSelected">
            <option value="carModel">Car Model</option>
            <option value="carMake">Car Make</option>
            <option value="ageOfVehicle">Age of Vehicle</option>
        </select>
        <label>Operator</label>
        <select class="browser-default custom-select mb-4" name="operator" [(ngModel)]="operator">
            <option value="lessThan">lessThan</option>
            <option value="lessThanOrEqualTo">lessThanOrEqualTo</option>
            <option value="greaterThan">greaterThan</option>
            <option value="greaterThanOrEqualTo">greaterThanOrEqualTo</option>
        </select>
        <label>Value</label>
        <input type="text" class="form-control mb-4" placeholder="value" name="value" [(ngModel)]="value">
        <button class="btn btn-primary" (click)="submitRequest()">Export</button>
    </form>
</div>